@model NoviProjekat.Data.EntityModels.ObavijestAdmin

@{
    ViewData["Title"] = "Edit";
}

<h2>Promijeni</h2>

<h4>Obavijest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SnimiDodavanje" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input required type="file" id="files" asp-for="Slika" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Dodaj" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Prikazi">Nazad na listu</a>
</div>


