@{
    ViewData["Title"] = "About";
}
<h2>
    O fakultetu
</h2>

<blockquote style="text-align:justify;margin:20px 20px 20px 20px;">


    Fakultet informacijskih tehnologija (FIT) je članica javnog Univerziteta „Džemal Bijedić“ u Mostaru. Osnovan je 1997. godine kao dvogodišnji Studij informatike, a 2003. godine je preregistrovan u Fakultet. FIT organizuje Bachelor (prvi ciklus) i Master (drugi ciklus) studij u oblasti informacijskih tehnologija. Nastavni plan i program se realizuje u skladu sa principima Bolonjske deklaracije. Prvi ciklus se organizuje i realizuje na dva načina:

    klasični, tzv. in-class sistem
    sistem učenja na daljinu, tzv. DistanceLearning – DL

    FIT je institucija koja je prva uvela koncept studiranja na daljinu u Bosni i Hercegovini i ima vodeću ulogu u procesu implementacije i razvoja učenja na daljinu u našoj zemlji. Na Fakultetu postoje četiri kabineta sa preko stotinu računarskih mjesta i četiri laboratorije. Osim redovnih nastavnih aktivnosti, studenti i nastavno osoblje imaju mogućnost izvođenja različitih istraživanja u pomenutim kabinetima i laboratorijama.

    Kvalitet i praktična relevantnost studijskog programa su potvrđeni činjenicom da je, prema podacima Zavoda za statistiku, 95% naših studenata zaposleno. IT sektor predstavlja područje koje se dinamično razvija i postoji stalna potreba za ovim kadrom u Bosni i Hercegovini i u svijetu. FIT provodi periodična istraživanja u cilju analize usklađenosti kvalifikacija i vještina predviđenih nastavnim planom i programom sa potrebama i zahtjevima tržišta i okruženja. FIT ima veoma dobru saradnju sa državnim, federalnim i kantonalnim ministarstvima koja djeluju u sektoru obrazovanja i IT-a, kao i sa regionalnim IT kompanijama.

    Fakultet također ima veoma uspješnu međunarodnu saradnju, u prvom redu sa univerzitetima u Austriji (FH Joanneum, Graz), Njemačkoj (Univerzitet u Paderbornu) i Španiji (Univerzitet u Lleidi), kao i sa univerzitetima u Bosni i Hercegovini i regionu. Ova saradnja podrazumijeva realizaciju brojnih aktivnosti kao što su razmjena nastavnika i studenata, realizacija zajedničkih naučno-istraživačkih projekata, učešće u seminarima i konferencijama, realizacija programa stručnog usavršavanja, kao i druge aktivnosti kojima je svrha intenziviranje akademske saradnje. FIT je učestvovao u velikom broju međunarodnih projekata, kao i projekata finansiranih iz državnih fondova.

    Fakultet kontinuirano radi na unapređenju kvaliteta svih aktivnosti: nastave, sadržaja nastavnog plana i programa, sistema ocjenjivanja, udžbenika i literature, opremljenosti učioničkog i drugog prostora, DL platforme, naučno-istraživačke djelatnosti, izdavačke djelatnosti, selekcije nastavnog kadra i administrativnog osoblja, bibliotečke djelatnosti, cjeloživotnog obrazovanja i drugih standarda.
    .
</blockquote>

