@{
    ViewData["Title"] = "Contact";
    
}
<h2>Kontakt</h2>

<address>
    Sjeverni logor 15<br />
    Mostar, <br />
    Telefon:
    425-555-0100
</address>

<address>
    <strong>Rijad:</strong> <a href="mailto:rijad.hasic@edu.fit.ba">rijad.hasic@edu.fit.ba</a><br />
    <strong>Emin:</strong> <a href="mailto:emin.adilvoic@edu.fit.ba">emin.adilvoic@edu.fit.ba</a>
</address>

