@using NoviProjekat.Web.ViewModels
@{
    ViewData["Title"] = "Dodaj";
    ObavijestDodajVM model = ViewData["podaci"] as ObavijestDodajVM;

}

<h2>Dodaj novu obavijest</h2>

<form action="/ObavijestProdavac/Snimi">
    <div class="form-group">
        <label>Opis: </label>
        <div>
            <input type="text" name="Opis" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Prodavac : </label>
        <div>
            <select name="ProdavacId" class="form-control">
                @foreach (var x in model.prodavac)
                {
                    <option value="@x.Value">@x.Text</option>
                }
            </select>
        </div>
    </div>

    <input type="submit" value="Snimi" />
</form>


